<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="<%= styleSheetLocation %>" />
</head>
    <body>
        <div class="content">
            @RenderBody();
        </div>
        <script src="<%= bundledJsLocation %>"></script>
        @RenderSection("scripts", false);
    </body>
</html>